body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 2.7px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.backtotop_Smr{
  color: #585858 !important;
  font-weight: 600 !important;
}


.MobileAppPay, .css-1qd6nut{
      padding-top: 5px !important;
}

::-ms-reveal,
::-ms-clear {
  display: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    transition: background-color 9999s ease-out 0s !important;
}

/* Disable autofill suggestions dropdown in Firefox */
input:-moz-autofill {
    background-color: transparent !important;
}

/* For Firefox input fields */
input:-moz-placeholder {
    color: transparent !important;
}

.otp-verification-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Hide autocomplete dropdown in WebKit-based browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    transition: background-color 9999s ease-out 0s !important;
}

/* Disable autofill suggestions dropdown in Firefox */
input:-moz-autofill {
    background-color: transparent !important;
}

/* For Firefox input fields */
input:-moz-placeholder {
    color: transparent !important;
}

}

/* Optional CSS to add to your global styles */
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  padding: 8px 16px;
}

.MuiDataGrid-toolbarContainer {
  padding: 8px 16px !important;
}

